/* Revert styling given to text by it's parent a Tag */
/* --> Target the a tag itself, not the <p> or <span> */

/* =============Media queries============= */
@media (max-width: 900px) { /* This will apply UP TO 900px only I.e: 900px and below */
  h1 {
    font-size: 16px;
  }
}

/* -------------Transition----------------- */
/* Specify two things 1) The property you want to transition 2) duration of transition */
div {
  transition: height 0.4s, position 0.7s;
}

/* --------------Fluid Typography============*/
/* Only use px for button sizes (depends), header height, borders, padding */
/* Use vh vw for large elements (wrapper, nav bar) */
/* rem can be used for almost everything, makes more sense to use em for vertical margin, as you want it to be proportional to size of text */
/* ems are good for things that need to be proportional to it's parent (logo on button) */

/* em is relative to the element's font size, 1.5 em is 1.5X the size of the font
rem is relative to the root node (html element) font size (16px)
When we use px for font-size, people with vision issues cannot scale the page with zoom, essentially changes value of the rem */

/* Standard way was clamp(min, ideal, max) */
/* 1vw is 1% of the viewport width, while 1cqi = 1% of container's inline size */

/* ----------Container queries-------- */
/* First create your container you would like to query */
main .feature-grid-desktop .grid-item {
  container-type: inline-size;
}

/* Then set your different size queries, it will look up for nearest container with query on it */
@container (inline-size < 280px) {
  main .feature-grid-desktop .grid-item h2 {
    font-size: var(--heading-font-size-m);
  }
}